*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    text-align: center;
    margin-top: 3px;
}
.reddish{
  color:  #fa0e0e;
}
.primaryhead{
    font-weight: 500;
    font-size: xx-large;
}
body{
    background-color:whitesmoke;
}
#rotation{
    display: inline-block;
    animation-name: rotatei;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count:infinite;
    color: rgb(17, 101, 17);
}
.border1{
    border: 2px solid whitesmoke;
}
@keyframes rotatei {
    
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.start{
    padding-top: 1em;
}
.box1{
    height: 20vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
}
.box2{
    height: 7vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
   
}
.whitestone{
    color: #575858;
    text-decoration: none;
}
.fontt{
    font-family: monospace;
}
.m2{
    margin-top: 0.7em;
}
.head3{
    color:#c0490d;
}
.head2{
    margin-top: 1em;

}
.fontty{
    font-family: 'Times New Roman', Times, serif;
}
.thebox{
    height: 30vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(15, 0, 0);
    overflow: scroll;
    margin-top: 1em;
    border-radius: 8px;
}
#border{
    
    border-radius: 5px;
}
.whitesh{
    color: #073465;
    text-decoration: none;
}
.info{
    font-size: x-large;
}
#body1{
    background-color: black;
    margin-top: 20%;
    color: white;
}
.m20{
    padding-top: 10%;
    margin-bottom: 1em;
}
.f30{
    font-size:xx-large;
}
.ita{
    font: italic;
}
.ma{
    margin-top: 2em;
   margin-left: 3em;
   margin-right: 3em;
}
#ma{
    margin-top: 2em;
    margin-left: 3em;
    margin-right: 3em;
    padding-bottom: 2em;
}
.pb20{
    margin-bottom: 100px;
    color: white;
   
}
.fontt m2 head3{
 background-color: #a67122;
}
#greenish{
    color :rgb(17, 101, 17);
}


